@model List<Order>

@{
    ViewData["Title"] = "GetAll";
}

<h3 style="color:#F28123">Orders</h3>


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Shipping_Address</th>
            <th>Order_Address</th>
            <th>Order_Email</th>
            <th>Order_Date</th>
            <th>Order_Status</th>
            <th>Else</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.amount</td>
            <td>@item.Shipping_Address</td>
            <td>@item.Order_Address</td>
            <td>@item.Order_Email</td>
            <td>@item.Order_Date</td>
            <td>@item.Order_Status</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> 
            </td>
        </tr>
    }
    </tbody>
</table>
