@model List<Category>

<table class="mt-5 table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">thumbnail</th>
            <th scope="col" class="text-center">Extra Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.name</td>
                <td>@item.description</td>
                <td>@item.thumbnail</td>
                <td class="text-center">
                    <a asp-controller="Product" asp-action="GetByCategoryId" asp-route-id="@item.id" class="btn btn-warning btn-sm">Explore</a>
                    <a asp-action="GoToEditForm" asp-route-id="@item.id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="GoToAddForm">Add Category</a>