@model Product
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Id</h5>
        <p class="card-text">@Model.Sku</p>
        <p class="card-text">@Model.Name</p>
        <p class="card-text">@Model.Price</p>
        <p class="card-text">@Model.Weight</p>
        <p class="card-text">@Model.Descriptions</p>
        <p class="card-text">@Model.Thumbnail</p>
        <p class="card-text">@Model.Image</p>
        <p class="card-text">@Model.Category</p>
        <p class="card-text">@Model.CreateDate</p>
        <p class="card-text">@Model.Stock</p>

    </div>
</div>