
@model Product

<form action="/Products/SaveEditFormData">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="Id" id="name" placeholder="name" hidden value="@Model.Id">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Sku</label>
            <input type="text" class="form-control" name="Sku" id="Sku" placeholder="Sku" value="@Model.Sku">
        </div>
        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@Model.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Price</label>
        <input type="text" class="form-control" id="Price" name="Price" placeholder="Price" value="@Model.Price">
    </div>

    <div class="form-group">
        <label for="inputAddress">Weight</label>
        <input type="text" class="form-control" id="Weight" name="Weight" placeholder="Weight" value="@Model.Weight">
    </div>
    <div class="form-group">
        <label for="inputAddress">Descriptions</label>
        <input type="text" class="form-control" id="Descriptions" name="Descriptions" placeholder="Descriptions" value="@Model.Descriptions">
    </div>
    <div class="form-group">
        <label for="inputAddress">Thumbnail</label>
        <input type="text" class="form-control" id="Thumbnail" name="Thumbnail" placeholder="Thumbnail" value="@Model.Thumbnail">
    </div>
    <div class="form-group">
        <label for="inputAddress">Image</label>
        <input type="text" class="form-control" id="Image" name="Image" placeholder="Image" value="@Model.Image">
    </div>
    <div class="form-group">
        <label for="inputAddress">Category</label>
        <input type="text" class="form-control" id="Category" name="Category" placeholder="Category" value="@Model.Category">
    </div>
    <div class="form-group">
        <label for="inputAddress">CreateDate</label>
        <input type="text" class="form-control" id="CreateDate" name="CreateDate" placeholder="CreateDate" value="@Model.CreateDate">
    </div>
    <div class="form-group">
        <label for="inputAddress">Stock</label>
        <input type="text" class="form-control" id="Stock" name="Stock" placeholder="Stock" value="@Model.Stock">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>